.case-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.case-form input {
    height: 2rem;
    font-size: 1rem;
}

.case-form select {
    
}

.case-form button {
    width: 4rem;
    height: 2rem;
}