.case-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.case-image-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.case-image {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    display: flex;
    height: 100%;
    justify-content: center;
}

.case-image img {
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
}

.case-list-container {
    border-radius: 10px 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    margin: 1rem;
}
.case-list {
    padding: 0.5rem;
}

.case-list li {
    list-style-type: none;
    text-align: center;
}

.case-description {
    border-radius: 0 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    padding: 1rem;
}