.case-container {
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    display: flex;
    flex-direction: column;
}

.case-image {
    border-radius: 0 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 17rem;
}

.case-image img {
    height: 16rem;
    width: 16rem;
}

.case-list-container {
    border-radius: 10px 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    margin: 1rem;
}
.case-list {
    padding: 1rem;
}

.case-list li {
    list-style-type: none;
    text-align: center;
}

.case-description {
    border-radius: 0 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    padding: 1rem;
}