/* searchCases.jsx */
.search-cases-container {
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    justify-content: space-between;
    max-width: 300px;

}

.search-input {
    font-size: 1.25rem;
    height: 2rem;
    width: 75%;
}

/* casesCard.jsx */
.case-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1080px;
}

.case-card {
    align-items: center;
    border-radius: 0 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    display: flex;
    flex-direction: column;
    height: 18rem;
    margin-top: 1rem;
    width: 14rem;
}

.case-images {
    border-radius: 10px 0;
}
.case-images img {
    height: 14rem;
    width: 14rem;
}

.cases-info {
    text-align: center;
}