.news-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.news-description p {
    font-size: large;
}

.news-image {
    width: 18rem;
}

.news-image img {
    height: 14rem;
    width: 16rem;
}

.article-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 300px;
}